	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 id="header">Cask Profiles</h2>
				<h4 style="float: right"><a href="/home">Go Back</a></h4>
			</div>
		</div> <!-- row -->
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="{{beerPic}}" class="img-thumbnail"> 
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">{{firstName}} {{lastName}}</h3>
				  </div>
				  <div class="panel-body">
				    <ul>
				    	<li>Favorite beer: {{favBeer}}</li>
				    	</br>
				    	<li>Favorite Spot: {{favBar}}</li>
				    	</br>
				    	<li>Email: {{email}}</li>
				    	</br>
				    	<li>User Name: {{userName}}</li>
				    	</br>
				    	<li><span class="glyphicon glyphicon-home"></span> {{city}}</li>
				    	</br>
				    	<li>Your recommended beer from the survey: {{selectedBeer}}</li>
				    </ul>
				  </div>
				</div> <!-- panel -->
			</div> <!-- col -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Friends</h3>
				  </div>
				  <div class="panel-body">
				    Coming soon...
				  </div>
				</div>
			</div>
		</div> <!-- row -->
	</div>